*{
    margin:0;
    padding: 0;
}
p{
    margin:10px 0px;
}
.app{
    border:2px solid #000;
    margin: 10px; 
    padding:10px;
}

#content {
    width: 100%;
}
#date {
    width: 100%;
}
#time {
    width: 100%;
}
.item {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
}

.add {
    background-color: #000;
    margin-top: 20px;
    color: #fff;
    border:0;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-size: 20px;
}
.remove {
    background-color: rgb(212, 101, 101);
    margin-top: 20px;
    color: #fff;
    border:0;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-size: 20px;
}